[submodule "packages/server"]
	path = packages/server
	url = https://github.com/adam-cyclones/ADM-server.git
[submodule "packages/client"]
	path = packages/client
	url = https://github.com/adam-cyclones/ADM-client.git
